.inp{
    margin-top:1px;
}
.area {
  margin-top: 10px;
  margin-right: 5%;
  width: 90%;
  height: 20%;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  padding: 5px 8px;
}

#timestamp {
  margin: auto;
  text-align: center;
  font-size: 5em;
}

.timeBtn {
  margin: auto;
  text-align: center;
  font-size: 1.5em;
}